
html, body{
	
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #000000;
	line-height: 1;	
	font-family: 'Open Sans', sans-serif;
				
	
	/*Comment on pdf, show on web  */
	width: 8.5in;
	height: 11in;
	background-color: #000000;
	
}

.container{
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	background-color: white;
}

.big_text{
	font-size: 14pt; /*** 12 on pdf, 14 on web**/
}

p { 
	font-size: 12pt; /*** 11 on pdf, 12 on web**/
	margin: 5px; 
}


.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

ul{
	margin: 0px;
	padding-top: 2pt;
}


.spacing{
	padding-top: 1pt;
}

.center{
	text-align: center;	
	padding-bottom: 10pt;
}

.heading b{
    font-size: 26pt;
}

.heading p{
	font-family: 'fantasy';
}

.title{
	padding-bottom: 0px;
	font-size: 14pt;
}

.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.aligncenter{
	display: block;
	text-align: center;
}

hr{
	padding-top: 0px;
	border-top: 1px solid #000000;
}