@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

.navbar{
	padding: .8rem;
}
.navbar-nav li{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}

.main-cover{
	width: 100%;
	height: auto;
}

.color-layer {
    background-color: rgba(6, 176, 244, 0.29);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.carousel-caption{
	position: absolute;
	top: 10%;
}
.carousel-caption h1{
	font-size: 500%;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 200%;
	font-weight: 500;
	padding-bottom: 1rem;
}
.btn-primary{
	background-color: #00B800;
	border: 1px solid #00B800;
	color: #ffffff;
}

.jumbotron{
	padding: 1rem;
	border-radius: 0;
	background-color: #00B800;
	color: #ffffff;
	text-align: center;
}

.jumbotron p{
	font-size: 150%;
	font-weight: bold;
}
	
.welcome{
	width: 80%;
	margin: 0% auto;
	padding-top: 0rem;
}

.welcome hr{
	border-top: 5px solid #003399;
	width: 95%;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.text-center{
	margin-top: 1rem;
}

.text-center h3{
	padding-bottom: 1rem;
	color: #6699ff;
}


.project-carousel-inner img{
    width: 100%;
    height: 100%;
	max-height: 720px;
	object-fit: contain;
}

 
.carousel-control-prev p,
.carousel-control-next p{
	font-size: 600%;
	color: #00ccff;
}

 
.project h2{
	margin-top:50px;
	padding-bottom: 0px;
	font-size: 270%;
	color: #6699ff; 
}

.githubportal{
	font-size: 200%;
	color: #eb9234;
	display:inline;
}

.project-carousel-caption, .light-project-carousel-caption{
	position: absolute;
	top: 20%;
	left: 5%;
}

.project-carousel-caption h3{
	font-size: 200%;
	color: #993333;
}

.light-project-carousel-caption h3{
	font-size: 200%;
	color: #ffffff;
}

.project-feature p{
	font-size: 120%;
	color: #009933; 
}

.project-feature h4{
	padding-top: 10px;
	font-size: 180%;
	color: #42bff5;
	padding-bottom: 20px;
}
 
.text-center p{
	font-size: 120%;
}
.attitude p{
	font-size: 140%;
	padding-top: 20px;
}
.self_description p{
	font-size: 120%;
	padding-top: 20px;
}

.colored{
	font-size: 4em;
	margin: 1rem;
}

.fa-clickable {
    cursor:pointer;
	outline:none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.fa-clickable:hover{
	cursor:pointer;
	outline:none;
	color:  #05A;
}

hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

section.edu-section .edu-item .edu-date{min-width:18rem}
section.edu-section{padding-top:3rem!important;padding-bottom:3rem!important;padding-left:3rem!important}
	.bg-primary{background-color:#bd5d38!important}

.text-primary{
	color:#bd5d38 !important;
	font-size:14pt !important;
}
	a{color:#bd5d38}a:active,a:focus,a:hover{color:#824027}
.edu-content p{
	font-size: 14pt;
	font-weight: 500;
	color: #006600;
	margin:0;
}	

/*---Media Queries --*/


@media (max-width: 1600px) {

.carousel-caption h1{
	font-size: 450%;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 170%;
	font-weight: 500;
	padding-bottom: 1rem;
}
 

}

 
@media (max-width: 1366px) {

.carousel-caption h1{
	font-size: 400%;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 150%;
	font-weight: 500;
	padding-bottom: 1rem;
}

.project-feature h4{
	padding-top: 10px;
	font-size: 150%;
	color: #42bff5;
	padding-bottom: 20px;
}
 
.jumbotron p{
	font-size: 135%;
	font-weight: bold;
}

.attitude p{
	font-size: 100%;
	padding-top: 20px;
}
.self_description p{
	font-size: 100%;
	padding-top: 20px;
}

}
  
@media (max-width: 1024px) {

 .carousel-caption h1{
	font-size: 400%;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 150%;
	font-weight: 500;
	padding-bottom: 1rem;
}

 
 .jumbotron p{
	font-size: 135%;
	font-weight: bold;
}

}

@media (max-width: 800px) {

.carousel-caption h1{
	font-size: 300%;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 120%;
	font-weight: 500;
	padding-bottom: 1rem;
}
.jumbotron p{
	font-size: 120%;
	font-weight: bold;
}
.project-feature h4{
	padding-top: 10px;
	font-size: 130%;
	color: #42bff5;
	padding-bottom: 20px;
}
 

 
}
@media (max-width: 640px) {
  
.carousel-caption h1{
	font-size: 200%;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 100%;
	font-weight: 500;
	padding-bottom: 1rem;
}

.project h2{
	margin-top:50px;
	padding-bottom: 0px;
	font-size: 160%;
	color: #6699ff; 
}

.githubportal{
	font-size: 120%;
	color: #eb9234;
	display:inline;
}



.jumbotron p{
	font-size: 100%;
	font-weight: bold;
}


}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/* mobile view */
@media (max-width: 576px) {
  
	.carousel-caption h1{
		font-size: 200%;
		text-shadow: 1px 1px 15px #000;
	}
	
	.carousel-caption h3{
		font-size: 100%;
		font-weight: 500;
		padding-bottom: 1rem;
	}
	
	.jumbotron p{
		font-size: 80%;
		font-weight: bold;
	}

	.colored{
		font-size: 2em;
		margin: 1rem;
	}

	.welcome{
		width: 100%;
		margin: 0% auto;
		padding-top: 0rem;
	}

	.welcome p{
		font-size: 100%;
	}

	.text-center h3{
		padding-bottom: 1rem;
		font-size: 120%;
		color: #6699ff;
	}

	h3{
		font-size: 110%;
	}

	h5{
		font-size: 100%;
	}
	h6{
		font-size: 90%;
	}
	
	h2{
		font-size: 170%;
	}

	.edu-content p{
		font-size: 11pt;
		font-weight: 300;
		color: #006600;
		margin:0;
	}

	.project h2{
		margin-top:50px;
		padding-bottom: 0px;
		font-size: 140%;
		color: #6699ff; 
	}

	.project-feature h4{
		padding-top: 10px;
		font-size: 100%;
		color: #42bff5;
		padding-bottom: 20px;
	}

	.project-feature p{
		font-size: 100%;
		color: #009933; 
	}

	
	.githubportal{
		font-size: 100%;
		color: #eb9234;
		display:inline;
	}

	}

/*--- 
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

--*/







